.checkbox {
	position: relative;
	&:not(:last-child),
	.bapf_body li {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .checkbox__label:after,
		&:checked + label:after {
			background: $blue;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		padding-left: 20px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			flex: 0 0 16px;
			width: 16px;
			height: 16px;
			border: 1px solid #a7a9ac;
		}

		&::after {
			content: "";
			position: absolute;
			left: 4px;
			top: 4px;
			flex: 0 0 8px;
			width: 8px;
			height: 8px;

			transition: background 0.4s ease;
		}
	}
	// .checkbox__text
	&__text {
		font-size: rem(16);
	}
}

.bapf_body li {
	input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .checkbox__label:after,
		&:checked + label:after {
			background: $blue;
		}
	}

	label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		padding-left: 20px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			flex: 0 0 16px;
			width: 16px;
			height: 16px;
			border: 1px solid #a7a9ac;
		}

		&::after {
			content: "";
			position: absolute;
			left: 4px;
			top: 4px;
			flex: 0 0 8px;
			width: 8px;
			height: 8px;

			transition: background 0.4s ease;
		}
	}
}
