.checkout {
    margin-bottom: rem(60);
    // .checkout__container
    &__container {
    }
    // .checkout__title
    &__title {
    }
    // .checkout__wrapper
    &__wrapper {
        @media (min-width: $mobile) {
            display: grid;
            grid-template-columns: 1fr rem(369);
            @include adaptiveValue("gap", 149, 20, 1600, 991, 1);
        }

        @media (min-width: $tablet) {
            grid-template-columns: 1fr rem(569);
        }
    }
    // .checkout__form
    &__form {
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(40);
        }
    }
    // .checkout__info
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.info-checkout {
    // .info-checkout__title
    &__title {
        margin-bottom: rem(30);
        font-weight: 600;
        font-size: rem(20);
        text-transform: uppercase;
        text-align: left;
        width: 100%;
    }
    // .info-checkout__total
    &__total {
        width: 100%;
        margin-bottom: rem(30);
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 3px 4px rgba(0, 0, 0, 0.16), 0px 1px 5px rgba(0, 0, 0, 0.24);
        border-collapse: collapse;

        thead {
            tr {
                border-bottom: 1px dotted #000;
                th {
                    padding-top: rem(35);
                    padding-bottom: rem(10);
                    font-weight: 600;
                    font-size: rem(16);
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px dotted #000;
                td {
                    padding: rem(10);
                    text-align: center;
                }
            }
        }

        tfoot {
            font-weight: 600;
            font-size: rem(16);
            text-transform: uppercase;

            td {
                padding: rem(40) rem(10);
                text-align: center;
                white-space: nowrap;
            }
        }

        .title {
            max-width: rem(329);
        }

        .image {
            img {
                width: rem(70);
                height: rem(80);
            }
        }

        .price {
            white-space: nowrap;
        }

        .total {
            font-size: rem(24);
            color: $blue;
        }
    }
    // .info-checkout__privacy
    &__privacy {
        margin-bottom: rem(60);
        font-weight: 400;
        font-size: rem(16);

        a {
            font-weight: 600;

            &:hover {
                color: $blue;
            }
        }
    }
    // .info-checkout__button
    &__button {
        margin: 0 auto;
    }
}
.button {
}
