// Заголовки, общие БЄМ блоки и проче...

.fs_0 {
    font-size: 0;

    &_icon {
        font-size: 0;
        gap: 0;
        &::before {
            font-size: rem(24);
        }
    }
}

._s-title {
    font-weight: 600;
    @include adaptiveValue("font-size", 24, 18);
    text-transform: uppercase;
}

._p-title {
    margin-bottom: rem(60);
    padding-bottom: rem(12);
    border-bottom: 1px solid #000;
}

.crumbs {
    margin: rem(30) 0 rem(37);
    ul {
        display: flex;
        gap: rem(10);

        a {
            &::after {
                content: "/";
                padding-left: rem(10);
            }
        }
    }
}

.constructor {
    @include gridCards("fill", rem(300), 1fr, rem(20) rem(30));
    margin-bottom: rem(40);

    // .constructor__input
    &__input {
    }
    // .constructor__label
    &__label {
    }
}
