.product {
    //.product__wrapper
    &__wrapper {
        position: relative;
        z-index: 1;
        padding-bottom: rem(120);
        transition: transform 0.4s ease;

        &:hover {
            /* position: absolute; */
            transform: scale(1.05);
            z-index: 2;

            .product__subtitle {
                display: block;
            }

            .product__footer {
                flex-direction: column;
                align-items: flex-start;
            }
            .footer-product__cost {
                margin-bottom: rem(18);
            }
            ._icon-heart,
            ._icon-search {
                display: flex;

                &::before {
                    font-size: rem(16);
                }
            }
        }
    }
    // .product__image
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    // .product__inner
    &__inner {
        position: absolute;
        left: 0;
        z-index: 1;
        width: 100%;
        padding: rem(20) rem(10);
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);

        background-color: #fff;
    }
    // .product__title
    &__title {
        display: block;
        text-align: center;
        margin-bottom: rem(18);
    }
    // .product__subtitle
    &__subtitle {
        display: none;
        margin-bottom: rem(18);
        color: #666;
    }
    // .product__footer
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ._icon-cart {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: auto;

            flex: 0 0 rem(40);
            width: rem(40);
            height: rem(40);

            background-color: $blue;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 3px 4px rgba(0, 0, 0, 0.16),
                0px 1px 5px rgba(0, 0, 0, 0.24);
            border-radius: 4px;

            font-size: 0;
            color: #fff;

            &::before {
                font-size: rem(25);
            }
        }

        ._icon-heart,
        ._icon-search {
            display: none;

            justify-content: center;
            align-items: center;

            flex: 0 0 rem(40);
            width: rem(40);
            height: rem(40);

            border: 1px solid #a7aaaf;
            color: #a7aaaf;
        }
    }

    &-page {
        .product-popup__wrapper {
            margin-bottom: rem(40);
            @include adaptiveValue("gap", 149, 30, 1600, 991, 1);

            @media (max-width: $mobile) {
                flex-direction: column;
                align-items: center;
            }
        }
        .product-popup__image {
            width: 100%;
            max-width: none;

            @media (min-width: $mobile) {
                flex: 0 0 40%;
                max-width: 40%;
            }

            @media (min-width: $tablet) {
                flex: 0 0 30%;
                max-width: 30%;
            }
        }
        // .product-page__slider
        &__slider {
            padding: rem(10);
            width: 100%;
            box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
            max-height: rem(600);

            @media (min-width: $pc) {
                margin-bottom: rem(26);
            }

            // .product-page__slider_thumbs
            &_thumbs {
                width: 100%;

                .product-page__slide {
                    border: 1px solid #d9d9d9;

                    img {
                        box-shadow: none;
                    }
                }
            }
        }
        // .product-page__wrapper
        &__wrapper {
        }
        // .product-page__slide
        &__slide {
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        // .product-page__tabs
        &__tabs {
            margin-bottom: rem(60);
        }
        // .product-page__navigation
        &__navigation {
            display: flex;
            @include adaptiveValue("gap", 153, 20);
            margin-bottom: rem(30);
            border-bottom: 1px solid #a7aaaf;

            @media (max-width: $mobile) {
                overflow-x: scroll;
            }
        }
        // .product-page__title
        &__title {
            padding-bottom: rem(10);
            font-weight: 500;
            font-size: rem(16);
            white-space: nowrap;

            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: rem(-2);

                width: 100%;
                height: rem(3);
                background-color: $blue;

                opacity: 0;

                transition: opacity 0.4s ease;
            }

            &._tab-active {
                &::after {
                    opacity: 1;
                }
            }
        }
        // .product-page__content
        &__content {
        }
        // .product-page__body
        &__body {
            font-size: rem(16);

            @media (max-width: $mobile) {
                iframe {
                    width: 100%;
                }
            }
        }
    }
}
.footer-product {
    // .footer-product__cost
    &__cost {
        white-space: nowrap;
        font-size: rem(20);
    }
    // .footer-product__actions
    &__actions {
        display: flex;
        justify-content: flex-start;
        gap: rem(10);
        width: 100%;
    }
    // .footer-product__quickshow
    &__quickshow {
    }
    // .footer-product__favorites
    &__favorites {
    }
    // .footer-product__wishlist
    &__wishlist {
    }
}
.product-popup {
    background: #ffffff;
    border-radius: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 3px 4px rgba(0, 0, 0, 0.16), 0px 1px 5px rgba(0, 0, 0, 0.24);
    font-size: rem(16);

    .popup__close {
        position: absolute;
        top: rem(15);
        right: rem(15);

        &::before {
            font-size: rem(20);
        }
    }
    // .product-popup__content
    &__content {
    }
    // .product-popup__title
    &__title {
        margin-bottom: rem(48);
        font-weight: 600;
        font-size: rem(24);
    }
    // .product-popup__wrapper
    &__wrapper {
        display: flex;
        gap: rem(30);
    }
    // .product-popup__image
    &__image {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        flex: 0 0 40%;
        max-width: 40%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    // .product-popup__info
    &__info {
        flex: 1 1 auto;
    }
    // .product-popup__header
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: rem(12);

        width: 100%;

        padding: rem(21) rem(23);
        background-color: #f2f2f7;
        font-size: rem(20);
    }
    // .product-popup__excerpt
    &__excerpt {
        margin-bottom: rem(33);
        color: #666;
    }
    // .product-popup__price
    &__price {
        font-weight: 600;
        font-size: rem(24);
        color: $blue;
    }
    // .product-popup__favorites
    &__favorites {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(40);
        height: rem(40);
        background-color: #fff;
        color: #a7aaaf;
    }
    // .product-popup__quantity
    &__quantity {
    }
    &__add-to-cart {
        display: flex;
        justify-content: center;
        align-items: center;

        flex: 0 0 rem(40);
        width: rem(40);
        height: rem(40);

        background-color: $blue;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 3px 4px rgba(0, 0, 0, 0.16), 0px 1px 5px rgba(0, 0, 0, 0.24);
        border-radius: 4px;
        color: #fff;
    }
    // .product-popup__characteristics
    &__characteristics {
        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: rem(20);
            padding: rem(10) 0;
            border-bottom: 1px dotted #a7aaaf;

            p {
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
    // .product-popup__link
    &__link {
        display: flex;
        justify-content: flex-end;
        margin-top: rem(58);
        text-decoration: underline !important;
        text-transform: lowercase;
    }
}
