.project-page {
    margin-bottom: rem(60);
    // .project-page__container
    &__container {
    }
    // .project-page__title
    &__title {
    }
    // .project-page__nav
    &__nav {
        display: none;

        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
            gap: rem(30);
            margin-bottom: rem(50);
        }
    }
    // .project-page__content
    &__content {
        @include gridCards("fit", rem(300), 1fr, rem(30));
    }
}
.nav-post {
    // .nav-post__link
    &__link {
        display: flex;
        align-items: center;
        gap: rem(10);

        span {
            line-height: 1;
        }

        path {
            transition: fill 0.4s ease;
        }

        &:hover {
            color: $blue;

            path {
                fill: $blue;
            }
        }

        // ._prev
        &._prev {
        }
        // ._blog
        &._blog {
        }
        // ._next
        &._next {
            flex-direction: row-reverse;
            svg {
                transform: rotate(-180deg);
            }
        }
    }
}
.content-project {
    // .content-project__video
    &__video {
        iframe {
            width: 100%;
            min-height: rem(388);
        }
    }
    // .content-project__3d
    &__3d {
        
    }

    // .content-project__share
    &__share {
        display: flex;
        align-items: center;
        gap: rem(15);
        margin-top: rem(40);
        padding-top: rem(45);
        border-top: 1px solid #c4c4c4;

        a {
            path {
                transition: fill 0.4s ease;
            }

            &:hover {
                path {
                    fill: $blue;
                }
            }
        }
    }
}
