.related {
    margin-bottom: rem(80);
    // .related__container
    &__container {
    }
    // .related__title
    &__title {
        margin-bottom: rem(60);
        padding-bottom: rem(12);

        border-bottom: 1px solid #000;
    }
    // .related__list
    &__list {
        @include gridCards("fill", rem(280), 1fr, rem(30));

        @media (min-width: $mobileSmall) {
            @include gridCards("fill", rem(350), 1fr, rem(30));
        }

        @media (min-width: $pc) {
            @include gridCards("fill", rem(300), 1fr, rem(30));
        }

        @media (min-width: em(1920)) {
            @include gridCards("fit", rem(300), 1fr, rem(30));
        }
    }
}
