.sidebar {
    min-width: rem(280);
    @media (max-width: $tablet) {
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        top: rem(300);
        left: 0;
        z-index: 1000;
        width: rem(320);
        transform: translateX(-85%);

        transition: transform 0.4s ease;

        .open-sidebar & {
            transform: translateX(0px);
        }
    }
    // .sidebar__open
    &__open {
        display: none;
        @media (max-width: $tablet) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0;

            background-color: $dark;
            flex: 0 0 rem(50);
            width: rem(50);
            height: rem(50);

            svg {
                width: rem(23);
                height: rem(23);
            }

            &::before {
                font-size: 0;
                color: #fff;
            }

            .open-sidebar & {
                svg {
                    display: none;
                }

                &::before {
                    font-size: rem(23);
                }
            }
        }
    }
    // .sidebar__list
    &__list {
        flex: 1 1 auto;
        @media (max-width: $tablet) {
            max-height: 50vh;
            overflow-y: scroll;
            background-color: #fff;
            box-shadow: 0px 2px 4px rgba(14, 31, 53, 0.06), 0px 6px 12px rgba(14, 31, 53, 0.08),
                0px 12px 20px rgba(14, 31, 53, 0.06);
        }
    }
    // .sidebar__item
    &__item {
        margin-bottom: rem(10);
        font-size: rem(16);
    }
}
.item-sidebar {
    // .item-sidebar__title
    &__title {
        margin-bottom: rem(5);
        padding: rem(10) rem(21);
        background-color: $dark;
        color: #fff;
    }
    // .item-sidebar__catalog
    &__catalog {
    }
    // .item-sidebar__filters
    &__filters {
    }
}
.catalog-sidebar {
    // .catalog-sidebar__item
    &__item {
    }
    // .catalog-sidebar__link
    &__link {
        display: block;
        margin-bottom: rem(5);
        padding: rem(10) rem(21);
        transition: background 0.4s ease;

        &:hover,
        &._active {
            background-color: #f2f2f7;
        }
    }
}
.filters-sidebar {
    // .filters-sidebar__item
    &__item {
        margin-bottom: rem(5);
    }
    // .filters-sidebar__title
    &__title,
    .bapf_head {
        display: block;
        width: 100%;
        margin-bottom: rem(5);
        padding: rem(10) rem(21);
        background-color: #f2f2f7;
        text-align-last: left;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: rem(10);

            width: rem(8);
            height: rem(2);
            background-color: $mainColor;

            transform: translate(0px, -50%);
            transition: transform 0.4s ease;
        }

        &::after {
            transform: translate(0px, -50%) rotate(-90deg);
        }

        &._spoller-active {
            &::after {
                transform: translate(0px, -50%) rotate(0);
            }
        }
    }
    .bapf_head {
        &::before,
        &::after {
            content: none !important;
        }
    }
    // .filters-sidebar__body
    &__body {
    }
    // .filters-sidebar__checkbox
    &__checkbox,
    .bapf_body li {
        padding: rem(10) rem(21) !important;
    }
}
